textarea {
    resize: vertical;
}

.remove-entry {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.parsley-error {
    color: #B94A48 !important;
    background-color: #F2DEDE !important;
    border: 1px solid #EED3D7 !important;
}

.parsley-success {
    color: #52b941 !important;
    background-color: #c9f2c4 !important;
    border: 1px solid #b0eec3 !important;
}

.add-button {
    background-color: #2cee00 !important;
    border-color: #2cee00 !important;
}

.submit-button {
    background-color: #219e12 !important;
    border-color: #276523 !important;
}

p {
    padding: 5px 15px 5px 15px;
}

.important-text {
    font-weight: bold;
    font-size: 1.5em;
}

.critical-text {
    color: red;
    font-weight: bolder;
    font-size: 2em;
}

input[type='checkbox'] {
    width: 25px;
    height: 25px;
}

.required-input-area {
    margin-top: 10px;
    background: #ff010f;
    font-weight: bold;
    border-radius: 4px;

}

label {
    margin-left: 5px;

}

#case {
    background: #eee;
    border-radius: 4px;
}

#item-data {
    background: #eee;
    border-radius: 4px;
}

#taken-item {
    background: #ddd;
    border-radius: 4px;
}

/*#items{
	background: #eee;
	border-radius:4px;
}*/
#criminal-data {
    background: #ddd;
    border-radius: 4px;
}

#criminal-information {
    background: #eee;
    border-radius: 4px;
}

/*#criminals{

}*/
#witness-data {
    background: #eee;
    border-radius: 4px;
}

#witness-information {
    background: #ddd;
    border-radius: 4px;
}

#witnesses {

}

#person-address {
    margin-top: 10px;
}

#agreement-checks {
    background: #eee;
    border-radius: 4px;
}

#contacts {
    background: #ddd;
    border-radius: 4px;
}

#person-information {
    background: #eee;
    border-radius: 4px;
}

h3 {
    background: #bbb;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 0px;
}

h4 {

    padding: 5px;
    border-radius: 4px;
}

#form-heading {
    text-align: center;
}

#id-card-icon {
    max-height:25px;
}

.custom-errors-list {
    background: #ff010f;
    border-radius: 4px;
    margin-top: -20px;
    padding-top: 5px;
}

.custom-errors-list-generated ul {
    background: #ff010f;
    border-radius: 4px;
    margin-top: -10px;
}
.custom-errors-list-generated li {
    padding-top: 15px;
}

/*
required fields are all bold-ish
*/
